*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;;
}

header{
    width: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

form{
    border: 1px solid black;
    max-width: 2000px;
    width: 600px;
    height: 400px;
    min-width: 600px;
    margin-top: 10vh;
    margin-bottom: 30px;
    padding: 4%;
    border-radius: 1%;
    border-color: rgb(196, 196, 196);
}

.input1{
    width: 90%;
    padding: 3%;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: x-large;
}

.continue1{
    width: 96%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: large;
    background-color: rgb(238, 197, 93);
    text-align: center
}

a{
    text-decoration: none;
    color: rgb(2, 58, 142);
    font-weight: bold;
    font-size: medium;
}

body{
    width: auto;
    margin: 0 auto;
}

.new{
    color: rgba(0, 0, 0, 0.342);
    font-size: xx-large;
    font-weight: bold;
    text-align: center;


}

.create{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_account {
    max-width: 1000px;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: x-large;
    background-color: rgba(196, 191, 191, 0.418);
    height: 40px
}

hr {
    margin-top: 300px
}

.footer1 {
    margin-top: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(2, 58, 142);
    font-weight: bold;
    font-size: medium;
}

.footer1 div {
    margin-right: 20px; /* Add margin between individual links */
}

.footer1 div:last-child {
    margin-right: 0; /* Remove margin for the last link */
}

.copyright {
    margin-top: 40px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}